<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs" style="background-color: #cdf3df;">
      <div class="container">

        <ol>
          <li><a href="" class="fs-4">Home</a></li>
        </ol>
        <h2>Mission</h2>

      </div>
    </section>

    <div class="" style="background: #18d26e">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-7">
              <h2 class="text-dark">Mission</h2>
    
              <p class="text-white">
                <strong>MNPL.WORLD’s</strong> people never stop thinking of ways companies can do more to drive uncommon growth. The way we work is to be Unlock. Create. Execute: for the New World of Growth where we execute the individual, team and companies’ growth as our aim is growth is life.
              </p>
            
            </div>
            <div class="col-md-5 mt-3 mb-2">
              <img
                src="https://digitalupgrade.com/images/lobbyimage_1.jpg"
                class="img-fluid"
                alt="Lobby Image"
              />
            </div>
          </div>
        </div>
      </div>
  </main>