#header {
    background-color: #13a456;
    color: #fff;
  }
  
  #header .navbar {
    background-color: transparent;
  }
  
  #header .nav-link {
    color: #ddd;
  }
  
  #header .nav-link:hover {
    color: #fff;
  }
 
  @media (max-width: 992px) {
    .navbar ul {
        display: inherit;
    }
}
