<div class="wrapper">
  <div class="container">
    <div class="wheel-container">
      <canvas id="wheel" #wheel></canvas>
      <button id="spin-btn" #spinBtn (click)="spin()">Spin</button>
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjQ4_oYoMnNSnpHI85S62rAZbcQQQbOh5UFA&s"
        alt="spinner arrow"
      />
    </div>
    <div id="final-value" #finalValue>
      <p>Click On The Spin Button To Start</p>
    </div>
  </div>
  <div class="dashboard">
    <div class="card">
      <div class="card-body">
        <h5>Total Spins Available</h5>
        <p>{{ totalSpinsAvailable }}</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5>Number of Completed Spins</h5>
        <p>{{ completedSpins }}</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5>Awarded Money Today</h5>
        <p>{{ awardedMoneyToday }}</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5>Total Winnings</h5>
        <p>{{ totalWinnings }}</p>
      </div>
    </div>
  </div>
</div>
