<div class="wrapper">
  <div class="container">
    <div class="wheel-container">
      <canvas id="wheel" #wheel></canvas>
      <button id="spin-btn" #spinBtn (click)="spin()">Spin</button>
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjQ4_oYoMnNSnpHI85S62rAZbcQQQbOh5UFA&s"
        alt="spinner arrow"
      />
    </div>
    <div id="final-value" #finalValue>
      <p>Click On The Spin Button To Start</p>
    </div>
  </div>
  <div class="dashboard">
    <div class="row">
      <div class="col-md-6">
        <div class="card ag-courses_item shadow">
          <a href="#" class="ag-courses-item_link">
            <div class="ag-courses-item_bg"></div>

            <div class="ag-courses-item_title">Total Spins Available</div>

            <div class="ag-courses-item_date-box">
              <span class="ag-courses-item_date">
                {{ totalSpinsAvailable }}
              </span>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card ag-courses_item shadow">
          <a href="#" class="ag-courses-item_link">
            <div class="ag-courses-item_bg"></div>

            <div class="ag-courses-item_title">Number of Completed Spins</div>

            <div class="ag-courses-item_date-box">
              <span class="ag-courses-item_date">
                {{ completedSpins }}
              </span>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card ag-courses_item shadow">
          <a href="#" class="ag-courses-item_link">
            <div class="ag-courses-item_bg"></div>

            <div class="ag-courses-item_title">Awarded Money Today</div>

            <div class="ag-courses-item_date-box">
              <span class="ag-courses-item_date">
                {{ awardedMoneyToday }}
              </span>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card ag-courses_item shadow">
          <a href="#" class="ag-courses-item_link">
            <div class="ag-courses-item_bg"></div>

            <div class="ag-courses-item_title">Total Winnings</div>

            <div class="ag-courses-item_date-box">
              <span class="ag-courses-item_date">
                {{ totalWinnings }}
              </span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <audio #spinSound src="assets/audio/assets_wheel-audio.mp3"></audio>
  <!-- <audio #winSound src="assets/audio/assets_wheel-audio.mp3"></audio> -->
</div>
