<div class="container-fluid bg-img d-flex align-items-center justify-content-center min-vh-100">
  <div class="card content text-center">
    <div class="">
      <h2>Login</h2>
    </div>
    <div class="card-body">
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div class="mb-3 input-group">
          <span class="input-group-text"><i class="bi bi-person"></i></span>
          <input
            formControlName="identifier"
            type="text"
            class="form-control"
            placeholder="Email or Phone"
            required
          />
        </div>
        <div class="mb-3 input-group">
          <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
          <input
            [type]="showPassword ? 'text' : 'password'"
            formControlName="password"
            class="form-control"
            placeholder="Password"
            required
          />
          <span class="input-group-text show" (click)="togglePasswordVisibility()">SHOW</span>
        </div>
       
        <div>
          <button type="submit" class="btn btn-primary w-100">LOGIN</button>
        </div>
        <div class="mb-2 mt-2 text-end">
          <a (click)="forgotPassword()" class="text-decoration-none">Forgot Password?</a>
        </div>
      </form>
      <div *ngIf="isLoading" class="fullscreen-spinner">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </div>
    <div class="">
      <div class="signup">
        Don't have an account? <a routerLink="/register" class="text-decoration-none">Signup Now</a>
      </div>
    </div>
  </div>
</div>
