<div class="bg-img">
  <div class="content">
    <header>Login</header>
    <div class="login-container">
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div class="field">
          <span ><i class="bi bi-person"></i></span>
          <input
            formControlName="identifier"
            type="text"
            required
            placeholder="Email or Phone"
          />
        </div>
        <div class="field space">
          <span ><i class="bi bi-lock-fill"></i></span>
          <input
          [type]="showPassword ? 'text' : 'password'"
            formControlName="password"
            type="password"
            class="pass-key"
            required
            placeholder="Password"
          />
          <span class="show" (click)="togglePasswordVisibility()">SHOW</span>
        </div>
        <div class="pass">
          <a (click)="forgotPassword()">Forgot Password?</a>
        </div>
      
        <div class="field">
          <input type="submit" value="LOGIN" />
        </div>
      </form>
      <div *ngIf="isLoading" class="fullscreen-spinner">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </div>
    
    
    <div class="signup">
      Don't have an account?
      <a routerLink="/register">Signup Now</a>
    </div>
  </div>
</div>
