<section id="breadcrumbs" class="breadcrumbs" style="background-color: #cdf3df">
    <div class="container">
      <ol>
        <li><a href="" class="fs-4">Home</a></li>
      </ol>
      <h2>Who we are</h2>
    </div>
  </section>
   <section class="about-section mb-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-8 col-md-12 order-2 order-lg-2">
          <div class="mt-1">
            <div class="text" style="text-align: justify;">
              <p class="text-dark">As a purpose-driven brand, we connect people to opportunities while expanding the understanding of our planet and the people within it. Both in the air and on the ground, we are focused on lowering our carbon footprint, furthering an equitable work environment that values diversity and inclusion and living these values in the communities where we live, work and serve.</p>
            </div>
          </div>
        </div>
        <div class="image-column col-lg-4 col-md-12 order-1 order-lg-1">
          <div class="inner-column fadeInLeft">
            <div class="image-1">
              <img
                class="img-fluid"
                src="https://i.ibb.co/QP6Nmpf/image-1-about.jpg"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  