<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs" style="background-color: #cdf3df;">
      <div class="container">

        <ol>
          <li><a href="" class="fs-4">Home</a></li>
        </ol>
        <h2>Who we are</h2>

      </div>
    </section>
  <div class="" style="background: #18d26e">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-7">
          <h2 class="text-dark">Who we are</h2>

          <p class="text-white">As a purpose-driven brand, we connect people to opportunities while expanding the understanding of our planet and the people within it. Both in the air and on the ground, we are focused on lowering our carbon footprint, furthering an equitable work environment that values diversity and inclusion and living these values in the communities where we live, work and serve.</p>
        
        </div>
        <div class="col-md-5 mt-3 mb-2">
          <img
            src="https://digitalupgrade.com/images/lobbyimage_1.jpg"
            class="img-fluid"
            alt="Lobby Image"
          />
        </div>
      </div>
    </div>
  </div>
  </main>