<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs" style="background-color: #cdf3df;">
      <div class="container">

        <ol>
          <li><a href="" class="fs-4">Home</a></li>
        </ol>
        <h2>Our Experts</h2>

      </div>
    </section>
    <div class="" style="background: #18d26e">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-7">
              <h2 class="text-dark">Our Experts</h2>
    
              <p class="text-white">Bringing together a diverse set of voices with new technology, we collaborate closely, ideate freely and swiftly apply breakthrough innovations that drive big impact.</p>
              <p class="text-white">Solving the world’s problems through technology wouldn’t be possible without our most important invention: the MNPL.WORLD. Have a look at our talented teams.</p>
            
            </div>
            <div class="col-md-5 mt-3 mb-2">
              <img
                src="https://digitalupgrade.com/images/lobbyimage_1.jpg"
                class="img-fluid"
                alt="Lobby Image"
              />
            </div>
          </div>
        </div>
      </div>
  </main>