<!-- ======= hero Section ======= -->
<section id="hero">
  <div class="hero-container">
    <div
      id="heroCarousel"
      class="carousel slide"
      data-bs-ride="carousel"
      data-bs-interval="5000"
    >
      <ol class="carousel-indicators">
        <li
          data-bs-target="#heroCarousel"
          data-bs-slide-to="0"
          class="active"
        ></li>
        <li data-bs-target="#heroCarousel" data-bs-slide-to="1"></li>
        <li data-bs-target="#heroCarousel" data-bs-slide-to="2"></li>
        <li data-bs-target="#heroCarousel" data-bs-slide-to="3"></li>
        <!-- <li data-bs-target="#heroCarousel" data-bs-slide-to="4"></li> -->
      </ol>
      <div class="carousel-inner" role="listbox">
        <div
          class="carousel-item active"
          style="background-image: url('assets/img/banner/Banner 2.gif')"
        >
          <!-- <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">
                We are professional
              </h2>
              <p class="animate__animated animate__fadeInUp">
                Finance is a term that broadly describes the study and system of
                money, investments, and other financial instruments.
              </p>
              <a
                href="#featured-services"
                class="btn-get-started scrollto animate__animated animate__fadeInUp"
                >Get Started</a
              >
            </div>
          </div> -->
        </div>
        <div
          class="carousel-item"
          style="background-image: url('assets/img/banner/Banner1.jpg')"
        >
          <div class="carousel-container">
            <!-- <div class="container">
              <h2 class="animate__animated animate__fadeInDown">
                Invest for the future
              </h2>
              <p class="animate__animated animate__fadeInUp">
                A balance sheet is a document that shows a company’s assets and
                liabilities. Subtract the liabilities from the assets to find
                the firm’s net worth.
              </p>
              <a
                href="#featured-services"
                class="btn-get-started scrollto animate__animated animate__fadeInUp"
                >Get Started</a
              >
            </div> -->
          </div>
        </div>
        <div
          class="carousel-item"
          style="background-image: url('assets/img/banner/Banner4.gif')"
        >
          <div class="carousel-container">
            <!-- <div class="container">
              <h2 class="animate__animated animate__fadeInDown">
                Responsible banking
              </h2>
              <p class="animate__animated animate__fadeInUp">
                A liability is a financial obligation such as debt. Liabilities
                can be current or long-term.
              </p>
              <a
                href="#featured-services"
                class="btn-get-started scrollto animate__animated animate__fadeInUp"
                >Get Started</a
              >
            </div> -->
          </div>
        </div>
        <div
          class="carousel-item"
          style="background-image: url('assets/img/banner/Banner3.jpg')"
        >
          <div class="carousel-container">
            <div class="container">
              <!-- <h2 class="animate__animated animate__fadeInDown">
                Corporate Finance
              </h2>
              <p class="animate__animated animate__fadeInUp">
                Businesses obtain financing through a variety of means from
                equity investments to credit arrangements. A firm might take out
                a loan from a bank or arrange for a line of credit.
              </p> -->
              <a
                routerLink="/login"
                class="btn-get-started scrollto animate__animated animate__fadeInUp"
                >Get Started</a
              >
            </div>
          </div>
        </div>
      </div>
      <a
        class="carousel-control-prev"
        href="#heroCarousel"
        role="button"
        data-bs-slide="prev"
      >
        <span
          class="carousel-control-prev-icon bi bi-chevron-left"
          aria-hidden="true"
        ></span>
      </a>
      <a
        class="carousel-control-next"
        href="#heroCarousel"
        role="button"
        data-bs-slide="next"
      >
        <span
          class="carousel-control-next-icon bi bi-chevron-right"
          aria-hidden="true"
        ></span>
      </a>
    </div>
  </div>
</section>

<!-- End Hero Section -->

<main id="main">
  <!-- ======= Featured Services Section Section ======= -->
  <section id="">
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-12">
          <img src="/assets/img/banner/roadmap.jpg" alt="Featured Service Image" class="img-fluid">
        </div>
      </div>
    </div>
  </section>
  
  <!-- End Featured Services Section -->

  <!-- ======= About Us Section ======= -->
  <section id="about">
    <div class="container" data-aos="fade-up">
      <div class="row align-items-center">
        <!-- Left side with image -->
        <div class="col-lg-6 text-center">
          <img src="/assets/img/banner/about.jpg" alt="About Us Image" class="img-fluid">
        </div>
  
        <!-- Right side with content -->
        <div class="col-lg-6">
          <header class="section-header">
            <!-- <h3>About Us</h3> -->
            <p style="text-align: justify">
              We’re MNPL.WORLD. And we’re not your typical Ecommerce company. We believe that everyone 
              should be able to make financial decisions with confidence. We’re building a team of MNPL 
              with the knowledge, passion, and skills to make that happen. We have started a unique 
              strategy of innovation and thoughts to deliver our best practices products and services 
              right to your doorstep.<br /><br />
              Explore our latest thought leadership, ideas, and insights on the issues that are shaping 
              the future of business and society. Over the past 7 years, we have created stellar and 
              sustainable assets fundamental to nation-building. The vision for the future must be to 
              scale up the goodness factor and tap into new opportunities within India as well as across 
              the world.
            </p>
          </header>
        </div>
      </div>
    

      <div class="row about-cols">
        <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
          <div class="about-col">
            <div class="img">
              <img
                src="assets/img/mission.png"
                alt=""
                class="img-fluid"
              />
              <div class="icon">
                <img
                  src="/assets/img/animated/goals.gif"
                  width="50"
                  height="50"
                />
              </div>
            </div>
            <h2 class="title"><a href="#">Our Mission</a></h2>
            <p class="fs-6">
              The way we work is to be Unlock, Create, Execute, for the New
              World of Growth where we execute the individual, team and
              companies’ growth as our aim is growth is life.
            </p>
          </div>
        </div>

        <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
          <div class="about-col">
            <div class="img">
              <img src="assets/img/plan.png" alt="" class="img-fluid" />
              <div class="icon">
                <img
                  src="/assets/img/animated/strategy.gif"
                  width="50"
                  height="50"
                />
              </div>
            </div>
            <h2 class="title"><a href="#">Our Plan</a></h2>
            <p class="fs-6">
              Bringing together a diverse set of voices with new technology, we
              collaborate closely, ideate freely and swiftly apply breakthrough
              innovations that drive big impact.
            </p>
          </div>
        </div>

        <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
          <div class="about-col">
            <div class="img">
              <img src="assets/img/vision.png" alt="" class="img-fluid" />
              <div class="icon">
                <img
                  src="/assets/img/animated/vision.gif"
                  width="50"
                  height="50"
                />
              </div>
            </div>
            <h2 class="title"><a href="#">Our Vision</a></h2>
            <p class="fs-6">
              Our purpose is the sky is the limit. We have set clear goals of
              actively seeking diversity, boldly pursuing equity, and
              consciously promoting inclusion.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End About Us Section -->

  <!-- ======= Services Section ======= -->
  <section  class="services-section">
    <!-- <header class="section-header wow fadeInUp">
      <h3>Services</h3>
    </header> -->

  
    <div class="container py-5" data-aos="fade-right">
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card h-100 text-center">
            <div class="card-body">
              <h4 class="card-title">
                <a href=""><i class="bi bi-camera-video fs-1"></i></a>
              </h4>
              <p class="card-text">
                Secure your premises with expert CCTV installation and support.
              </p>
            </div>
          </div>
        </div>
      
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card h-100 text-center">
            <div class="card-body">
              <h4 class="card-title">
                <a href=""><i class="bi bi-wallet2 fs-1"></i></a>
              </h4>
              <p class="card-text">
                Earn rewards with our money-back guarantee on every purchase.
              </p>
            </div>
          </div>
        </div>
      
        <div class="col-lg-3 col-md-12 mb-4">
          <div class="card h-100 text-center">
            <div class="card-body">
              <h4 class="card-title">
                <a href=""><i class="bi bi-binoculars fs-1"></i></a>
              </h4>
              <p class="card-text">
                Get the best value with high-quality execution and service.
              </p>
            </div>
          </div>
        </div>
      
        <div class="col-lg-3 col-md-12 mb-4">
          <div class="card h-100 text-center">
            <div class="card-body">
              <h4 class="card-title">
                <a href=""><i class="bi bi-trophy fs-1"></i></a>
              </h4>
              <p class="card-text">
                Reap high returns through our exclusive reward pools.
              </p>
            </div>
          </div>
        </div>
      </div>
      
    </div>
</section>
  <!-- End Services Section -->

  <!-- ======= Call To Action Section ======= -->
  <section id="call-to-action">
    <div class="container text-center" data-aos="zoom-in">
      <h3>Call To Action</h3>
      <p>
        Contact us today for a personalized consultation and find out how
        MNPL.WORLD can empower you with faster payments and secure financial
        solutions.
      </p>
      <a class="cta-btn" routerLink="/contact-us">Call To Action</a>
    </div>
  </section>
  <!-- End Call To Action Section -->

  <!-- ======= Portfolio Section ======= -->
  <section id="portfolio" class="section-bg d-none">
    <div class="container" data-aos="fade-up">
      <header class="section-header">
        <h3 class="section-title">Our Portfolio</h3>
      </header>

      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-12">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-app">Financial</li>
            <li data-filter=".filter-card">Investment</li>
            <li data-filter=".filter-web">Plan</li>
          </ul>
        </div>
      </div>

      <div
        class="row portfolio-container"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap position-relative">
            <figure class="mb-0">
              <img
                src="assets/img/portfolio/app1.jpg"
                class="img-fluid"
                alt="App 1"
              />
            </figure>

            <div
              class="portfolio-info position-absolute bottom-0 start-0 w-100 text-center p-1 text-white"
            >
              <p class="text-dark">App</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap position-relative">
            <figure>
              <img
                src="assets/img/portfolio/web3.jpg"
                class="img-fluid"
                alt=""
              />
            </figure>

            <div
              class="portfolio-info position-absolute bottom-0 start-0 w-100 text-center p-1 text-white"
            >
              <p class="text-dark">Web</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap position-relative">
            <figure>
              <img
                src="assets/img/portfolio/app2.jpg"
                class="img-fluid"
                alt=""
              />
            </figure>

            <div
              class="portfolio-info position-absolute bottom-0 start-0 w-100 text-center p-1 text-white"
            >
              <p class="text-dark">App</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap position-relative">
            <figure>
              <img
                src="assets/img/portfolio/card2.jpg"
                class="img-fluid"
                alt=""
              />
            </figure>

            <div
              class="portfolio-info position-absolute bottom-0 start-0 w-100 text-center p-1 text-white"
            >
              <p class="text-dark">Card</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap position-relative">
            <figure>
              <img
                src="assets/img/portfolio/web2.jpg"
                class="img-fluid"
                alt=""
              />
            </figure>

            <div
              class="portfolio-info position-absolute bottom-0 start-0 w-100 text-center p-1 text-white"
            >
              <p class="text-dark">Web</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap position-relative">
            <figure>
              <img
                src="assets/img/portfolio/app3.jpg"
                class="img-fluid"
                alt=""
              />
            </figure>

            <div
              class="portfolio-info position-absolute bottom-0 start-0 w-100 text-center p-1 text-white"
            >
              <p class="text-dark">App</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap position-relative">
            <figure>
              <img
                src="assets/img/portfolio/card1.jpg"
                class="img-fluid"
                alt=""
              />
            </figure>

            <div
              class="portfolio-info position-absolute bottom-0 start-0 w-100 text-center p-1 text-white"
            >
              <p class="text-dark">Card</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap position-relative">
            <figure>
              <img
                src="assets/img/portfolio/card3.jpg"
                class="img-fluid"
                alt=""
              />
            </figure>

            <div
              class="portfolio-info position-absolute bottom-0 start-0 w-100 text-center p-1 text-white"
            >
              <p class="text-dark">Card</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap position-relative">
            <figure>
              <img
                src="assets/img/portfolio/web1.jpg"
                class="img-fluid"
                alt=""
              />
            </figure>

            <div
              class="portfolio-info position-absolute bottom-0 start-0 w-100 text-center p-1 text-white"
            >
              <p class="text-dark">Web</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Portfolio Section -->

  <!-- ======= Our Clients Section ======= -->
  <section id="clients">
    <div class="container">
      <header class="section-header">
        <h3>Our Clients</h3>
      </header>

      <div id="clientsCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row justify-content-center">
              <div
                class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
              >
                <img
                  src="assets/img/clients/client-1.png"
                  class="img-fluid"
                  alt="Client 1"
                />
              </div>
              <div
                class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
              >
                <img
                  src="assets/img/clients/client-2.png"
                  class="img-fluid"
                  alt="Client 2"
                />
              </div>
              <div
                class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
              >
                <img
                  src="assets/img/clients/client-3.png"
                  class="img-fluid"
                  alt="Client 3"
                />
              </div>
              <div
                class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
              >
                <img
                  src="assets/img/clients/client-4.png"
                  class="img-fluid"
                  alt="Client 4"
                />
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row justify-content-center">
              <div
                class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
              >
                <img
                  src="assets/img/clients/client-5.png"
                  class="img-fluid"
                  alt="Client 5"
                />
              </div>
              <div
                class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
              >
                <img
                  src="assets/img/clients/client-6.png"
                  class="img-fluid"
                  alt="Client 6"
                />
              </div>
              <div
                class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
              >
                <img
                  src="assets/img/clients/client-7.png"
                  class="img-fluid"
                  alt="Client 7"
                />
              </div>
              <div
                class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
              >
                <img
                  src="assets/img/clients/client-8.png"
                  class="img-fluid"
                  alt="Client 8"
                />
              </div>
            </div>
          </div>
        </div>

        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#clientsCarousel"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#clientsCarousel"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </section>

  <!-- End Our Clients Section -->

  <!-- ======= Testimonials Section ======= -->
  <section id="testimonials" class="section-bg" style="background: #fff">
    <div class="container">
      <header class="section-header">
        <h3>Client Testimonials</h3>
      </header>

      <div
        id="testimonialsCarousel"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="testimonial-item text-center">
              <img
                src="assets/img/user.png"
                class="testimonial-img"
                alt="Alex Smith"
              />
              <h3>Shakti Hota</h3>
              <h4>Investment Advisor</h4>
              <p>
                <img
                  src="assets/img/quote-sign-left.png"
                  class="quote-sign-left"
                  alt="Quote Sign"
                />
                "Thanks to MNPL WORLD, I've been able to provide my clients with
                comprehensive financial solutions that truly make a difference.
                Their innovative approach to financial planning has greatly
                enhanced our investment strategies."
                <img
                  src="assets/img/quote-sign-right.png"
                  class="quote-sign-right"
                  alt="Quote Sign"
                />
              </p>
            </div>
          </div>

          <div class="carousel-item">
            <div class="testimonial-item text-center">
              <img
                src="assets/img/user.png"
                class="testimonial-img"
                alt="Jessica Brown"
              />
              <h3>Narendra Ayyuli</h3>
              <h4>Financial Analyst</h4>
              <p>
                <img
                  src="assets/img/quote-sign-left.png"
                  class="quote-sign-left"
                  alt="Quote Sign"
                />
                "Working with MNPL WORLD has transformed the way we handle
                financial analysis. Their tools and expertise in real-time data
                integration have improved our forecasting accuracy and
                efficiency."
                <img
                  src="assets/img/quote-sign-right.png"
                  class="quote-sign-right"
                  alt="Quote Sign"
                />
              </p>
            </div>
          </div>

          <div class="carousel-item">
            <div class="testimonial-item text-center">
              <img
                src="assets/img/user.png"
                class="testimonial-img"
                alt="Michael Davis"
              />
              <h3>Bibhuti Bhusan</h3>
              <h4>Portfolio Manager</h4>
              <p>
                <img
                  src="assets/img/quote-sign-left.png"
                  class="quote-sign-left"
                  alt="Quote Sign"
                />
                "The innovative financial solutions from MNPL WORLD have
                significantly enhanced our portfolio management strategies.
                Their dedication to client success is evident in their
                personalized approach and expert advice."
                <img
                  src="assets/img/quote-sign-right.png"
                  class="quote-sign-right"
                  alt="Quote Sign"
                />
              </p>
            </div>
          </div>

          <div class="carousel-item">
            <div class="testimonial-item text-center">
              <img
                src="assets/img/user.png"
                class="testimonial-img"
                alt="Emily Johnson"
              />
              <h3>Shyma lal</h3>
              <h4>Chief Financial Officer</h4>
              <p>
                <img
                  src="assets/img/quote-sign-left.png"
                  class="quote-sign-left"
                  alt="Quote Sign"
                />
                "Our experience with MNPL WORLD has been exceptional. Their
                financial strategies and consulting services have streamlined
                our operations and helped us achieve our financial goals more
                efficiently."
                <img
                  src="assets/img/quote-sign-right.png"
                  class="quote-sign-right"
                  alt="Quote Sign"
                />
              </p>
            </div>
          </div>
        </div>

        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#testimonialsCarousel"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#testimonialsCarousel"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </section>

  <!-- End Testimonials Section -->

  <!-- ======= Team Section ======= -->
  <section id="team" class="section-bg d-none">
    <div class="container">
      <div class="section-header">
        <h3>Meet Our Team</h3>
        <p>
          Meet the talented professionals who drive our success. Our team is
          dedicated to delivering exceptional financial services and solutions
          tailored to your needs.
        </p>
      </div>

      <div id="teamCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-lg-3 col-md-6">
                <div class="member" data-aos="fade-up" data-aos-delay="100">
                  <img
                    src="assets/img/user1.png"
                    class="img-fluid"
                    alt="Walter White"
                  />
                  <div class="member-info">
                    <div class="member-info-content">
                      <h4>Team 1</h4>
                      <span>Chief Executive Officer</span>
                      <div class="social">
                        <a href="#"><i class="bi bi-twitter"></i></a>
                        <a href="#"><i class="bi bi-facebook"></i></a>
                        <a href="#"><i class="bi bi-instagram"></i></a>
                        <a href="#"><i class="bi bi-linkedin"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-6">
                <div class="member" data-aos="fade-up" data-aos-delay="200">
                  <img
                    src="assets/img/user1.png"
                    class="img-fluid"
                    alt="Sarah Jhonson"
                  />
                  <div class="member-info">
                    <div class="member-info-content">
                      <h4>Team 2</h4>
                      <span>Product Manager</span>
                      <div class="social">
                        <a href="#"><i class="bi bi-twitter"></i></a>
                        <a href="#"><i class="bi bi-facebook"></i></a>
                        <a href="#"><i class="bi bi-instagram"></i></a>
                        <a href="#"><i class="bi bi-linkedin"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="member" data-aos="fade-up" data-aos-delay="300">
                  <img
                    src="assets/img/user1.png"
                    class="img-fluid"
                    alt="William Anderson"
                  />
                  <div class="member-info">
                    <div class="member-info-content">
                      <h4>Team 3</h4>
                      <span>CTO</span>
                      <div class="social">
                        <a href="#"><i class="bi bi-twitter"></i></a>
                        <a href="#"><i class="bi bi-facebook"></i></a>
                        <a href="#"><i class="bi bi-instagram"></i></a>
                        <a href="#"><i class="bi bi-linkedin"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-6">
                <div class="member" data-aos="fade-up" data-aos-delay="400">
                  <img
                    src="assets/img/user1.png"
                    class="img-fluid"
                    alt="Amanda Jepson"
                  />
                  <div class="member-info">
                    <div class="member-info-content">
                      <h4>Team 4</h4>
                      <span>Accountant</span>
                      <div class="social">
                        <a href="#"><i class="bi bi-twitter"></i></a>
                        <a href="#"><i class="bi bi-facebook"></i></a>
                        <a href="#"><i class="bi bi-instagram"></i></a>
                        <a href="#"><i class="bi bi-linkedin"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="row">
              <div class="col-lg-3 col-md-6">
                <div class="member" data-aos="fade-up" data-aos-delay="300">
                  <img
                    src="assets/img/user1.png"
                    class="img-fluid"
                    alt="William Anderson"
                  />
                  <div class="member-info">
                    <div class="member-info-content">
                      <h4>Team 5</h4>
                      <span>CTO</span>
                      <div class="social">
                        <a href="#"><i class="bi bi-twitter"></i></a>
                        <a href="#"><i class="bi bi-facebook"></i></a>
                        <a href="#"><i class="bi bi-instagram"></i></a>
                        <a href="#"><i class="bi bi-linkedin"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-6">
                <div class="member" data-aos="fade-up" data-aos-delay="400">
                  <img
                    src="assets/img/user1.png"
                    class="img-fluid"
                    alt="Amanda Jepson"
                  />
                  <div class="member-info">
                    <div class="member-info-content">
                      <h4>Team 6</h4>
                      <span>Accountant</span>
                      <div class="social">
                        <a href="#"><i class="bi bi-twitter"></i></a>
                        <a href="#"><i class="bi bi-facebook"></i></a>
                        <a href="#"><i class="bi bi-instagram"></i></a>
                        <a href="#"><i class="bi bi-linkedin"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#teamCarousel"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#teamCarousel"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </section>

  <!-- End Team Section -->
</main>
<!-- End #main -->
