<!-- <div class="container-scroller">
    <app-header></app-header>
    <div class="container-fluid">
      <app-sidenav></app-sidenav>
      <div class="main-panel">
        <router-outlet></router-outlet>
      </div>
    </div>
    <app-footer></app-footer>
  </div> -->

<div class="container-scroller">
  <app-header></app-header>
  <div class="container-fluid">
    <app-sidenav></app-sidenav>
    <div class="main-panel pt-4">
      <router-outlet></router-outlet>
    </div>
  </div>
  <app-footer></app-footer>
</div>
