<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <section
    id="breadcrumbs"
    class="breadcrumbs"
    style="background-color: #cdf3df"
  >
    <div class="container">
      <ol>
        <li><a href="" class="fs-4">Home</a></li>
      </ol>
      <h2>Our Global Impact</h2>
    </div>
  </section>
  <div class="" style="background: #18d26e">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-7">
          <h2 class="text-dark">Our Global Impact</h2>

          <p class="text-white">
            Growth is rarely easy. Based on conversations with senior business
            leaders across industries, we sense an increasing recognition that
            it has never been more difficult to generate and sustain growth. To
            be clear, we are talking about growth driven by customer interest
            and market demand, rather than the temporary variety driven by
            acquisition, cost takeout or organizational restructuring. The
            bottom line is that not even top performers can expect that
            continuing to do what got them to market-leading positions will
            deliver the next phase of growth.  
          </p>
          <p class="text-white">
            Some of the common barriers – continuous cycles of tech-driven
            disruption, relentlessly fickle customers, talent mismatches – are
            well understood. However, less tangible and often overlooked factors
            – including lack of C-level clarity and confidence, short-term
            thinking and a history of unactioned strategies and plans – may be
            even more hostile to growth. Consider how senior leaders may lose
            faith in growth strategies when market opportunities shift more
            rapidly than the organization can pivot, refine its go-to-market
            approach or reallocate resources. Even when the right strategy is in
            place, limited ability to execute – or execute at the pace which
            growth now demands – may undercut returns. 
          </p>
          <p class="text-white">
            Because markets move faster than ever, we believe sustainable growth
            results from: 
          </p>
          <ul style="list-style: disc">
            <li class="text-white">
              Unlocking compelling customer insights to inform growth
              strategies 
            </li>
            <li class="text-white">
              Creating relevant, impactful growth moves
            </li>
            <li class="text-white">Executing faster and more efficiently</li>
          </ul>
        </div>
        <div class="col-md-5 mt-3">
          <img
            src="https://digitalupgrade.com/images/lobbyimage_1.jpg"
            class="img-fluid"
            style="height: 400px"
            alt="Lobby Image"
          />
        </div>
      </div>
    </div>
  </div>
</main>
