<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs" style="background-color: #cdf3df;">
      <div class="container">

        <ol>
          <li><a href="" class="fs-4">Home</a></li>
        </ol>
        <h2>Vision</h2>

      </div>
    </section>
  <div class="" style="background: #18d26e">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-7">
          <h2 class="text-dark">Vision</h2>

          <p class="text-white">Our focus is to have Diversity, Equity & Inclusion where we follow<strong> Connect the world. Reflect the world. Respect the world.</strong></p>
        <p class="text-white">Our purpose is the sky is the limit. We have set clear goals of actively seeking diversity, boldly pursuing equity, and consciously promoting inclusion. In the past years and coming years, MNPL committed to equity and being an anti-racist, anti-discrimination organization. To achieve this vision, we are removing barriers, building equitable systems, and being transparent about our progress.</p>
        
        </div>
        <div class="col-md-5 mt-3 mb-2">
          <img
            src="https://digitalupgrade.com/images/lobbyimage_1.jpg"
            class="img-fluid"
            alt="Lobby Image"
          />
        </div>
      </div>
    </div>
  </div>
  </main>