
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#" class="dropdown-toggle d-none" data-bs-toggle="collapse" data-bs-target="#aboutSubmenu" aria-expanded="false" aria-controls="aboutSubmenu">
    About <span class="bi bi-chevron-down"></span>
  </a>
  <div class="collapse ms-3 d-none" id="aboutSubmenu">
    <a href="#" class="sidenav-subitem ms-3">Our Story</a>
    <a href="#" class="sidenav-subitem ms-3">Team</a>
    <a href="#" class="sidenav-subitem ms-3">Careers</a>
  </div>
  <a href="#" class="dropdown-toggle d-none" data-bs-toggle="collapse" data-bs-target="#servicesSubmenu" aria-expanded="false" aria-controls="servicesSubmenu">
    Services <span class="bi bi-chevron-down"></span>
  </a>
  <div class="collapse ms-3 d-none" id="servicesSubmenu">
    <a href="#" class="sidenav-subitem ms-3">Consulting</a>
    <a href="#" class="sidenav-subitem ms-3">Development</a>
    <a href="#" class="sidenav-subitem ms-3">Design</a>
  </div>
  <a routerLink="home">Home</a>
  <a routerLink="dashboard">Dashboard</a>
  <a routerLink="spin">Spin</a>
  <a routerLink="bank-details">Bank Details</a>
  <a routerLink="document">Documents</a>
</div>